// Navigation Styles here
@media (max-width: 500px) {
 
  .nav-content {
    width: 100%;
    display: flex;
    flex-direction: column;  
    justify-content: space-around;    
    padding: 0px;
    margin-top: 10px;
    text-align: center;
    .h1-content {
      margin-top: none;
      margin: 0px;
    }
  }
  
  // ---------- end nav media querie --------


.nav-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 10px;
}
  
 
    
    a {
        .nav-links-font(@shark);        
        
    }


  
  
.bus-jpg {
  margin-left: 20.4%;
 
}
.bus {
  margin-right: 25%
}
div {
  padding-top: 5px;
  margin-top: 10px;
}
}